BIND_ADDRESS=127.0.0.1
DATABASE_PORT=5432
REDIS_PORT=6379
S3_PORT=9000
S3_CONSOLE_PORT=9001
POSTGRES_USER=effect_stack
POSTGRES_PASSWORD=effect_stack
POSTGRES_DATABASE=effect_stack
S3_ACCESS_KEY_ID=effect-stack-dev
S3_SECRET_ACCESS_KEY=effect-stack-dev-secret
S3_BUCKET=effect-stack
S3_REGION=us-east-1
